<div class="container">
  <div class="blog-container">
    {%- section 'blog-template' -%}

    {%- if blog.articles_count > 0 -%}
      {%- section 'blog-sidebar' -%}
    {%- endif -%}
  </div>
</div>